@use "@bardoui/termeh/termeh.scss" as T;
@use "var";
@use "@bardoui/termeh/styles.scss";
@use "@bardoui/termeh/layout/layout.scss";
@use "@bardoui/termeh/layout/container.scss";
@use "@bardoui/termeh/layout/content.scss";
@use "@bardoui/termeh/layout/grid.scss";
@use "@bardoui/termeh/layout/gaper.scss";
@use "@bardoui/termeh/components/button.scss";
@use "@bardoui/termeh/components/meta.scss";
@use "@bardoui/termeh/components/icon.scss";
@use "@bardoui/termeh/components/card.scss";
@use "@bardoui/termeh/components/header.scss";
@use "@bardoui/termeh/components/link.scss";
@use "@bardoui/termeh/form/input.scss";
@use "@bardoui/termeh/helpers/visibility.scss";

// Custom styling
#app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1rem;
    background: T.color("alternative");
}

section {
    display: block;
    padding: 1rem;
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

code {
    white-space: pre;
    margin-bottom: 1rem;
}

h3 {
    color: T.readable(T.color("background"), T.color("primary"));
}
